.hero {
  padding-top: 7rem;
  padding-bottom: 20px;
  &__inner {
    display: flex;
    @include respond(tab-port) {
      flex-direction: column-reverse;
    }
  }
  &__content--side {
    width: 60%;
    flex-shrink: 1;
  }
  &__main--heading {
    font-size: 7.2rem;
    line-height: 8.2rem;
    font-weight: 700;
    margin-top: 6rem;
    margin-bottom: 3.4rem;
    white-space: nowrap;
    @include respond(phone) {
      font-size: 6rem;
      line-height: 5.8rem;
    }
  }
  .highlighted {
    color: $primary-color;
  }
  &__description--text {
    font-size: 2.2rem;
    line-height: 33px;
    max-width: 547px;
    padding: 0;
    margin: 0;
    margin-bottom: 38px;
    @include respond(tab-port) {
      width: 100%;
    }
  }
  &__buttons--wrapper {
    display: flex;
    align-self: center;
    .btn-dark {
      margin-right: 10px;
    }
  }
  &__image-wrapper {
    flex-shrink: 0;
    width: 500px;
    @include respond(tab-port) {
      width: 450px;
      align-self: center;
    }
    @include respond(phone) {
      width: 400px;
      align-self: center;
    }
  }
  &__img {
    flex-shrink: 0;
    display: block;
    width: 100%;
    flex-shrink: 0;
  }
}
